<div class="container">
  <h1>Cocktails</h1>
  <p><%= link_to "Add your cocktail", new_cocktail_path %></p>

  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, height: 200, width: 300, crop: :fill %>
    <% else %>
      <%= cl_image_tag "no-image_nqovh9", height: 200, width: 300, crop: :fill %>
    <% end %>
    <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
  <% end %>
</div>
